In [5]:
import pandas as pd
import pickle

In [8]:
pd.read_csv('cakes.csv')

     Radius [cm]  Layers     Topping  Price
0             16       1     Picture    311
1             19       3      Simple    555
2              4       2  Decorative     89
3              7       1     Picture     90
4              7       2  Decorative    100
..           ...     ...         ...    ...
367           10       1     Writing    119
368           14       1      Simple    235
369            6       1     Writing     36
370            4       3     Extreme    180
371           18       3     Picture    486

[372 rows x 4 columns]

In [11]:
# prompt: # prompt: build ML model for the next data "cake.csv" with the smaple:
# # implement also onehotencoder for topping
# # 	Radius [cm]	Layers	Topping	Price
# # 0	16	1	Picture	311
# # 1	19	3	Simple	555

import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

# Load the data
df = pd.read_csv('cakes.csv')

# Separate features and target
X = df[['Radius [cm]', 'Layers', 'Topping']]
y = df['Price']

# Create a ColumnTransformer to apply OneHotEncoder to the 'Topping' column
oht = OneHotEncoder(sparse_output=False)
one_hot_encoded = oht.fit_transform(X[['Topping']])
one_hot_df = pd.DataFrame(one_hot_encoded,
                          columns=oht.get_feature_names_out())

X = pd.concat([X.drop('Topping', axis=1), one_hot_df], axis=1)

# # Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, test_size=0.2, random_state=42)

# Create and train the model
model = LinearRegression()
model.fit(X_train, y_train)

# Make predictions
y_pred = model.predict(X_test)

NameError: name 'X_encoded' is not defined

In [31]:
with open('model.pkl', 'wb') as f:  # open a text file
    pickle.dump(model, f) # serialize the list

with open('OneHotEncoder.pkl', 'wb') as f:  # open a text file
    pickle.dump(oht, f) # serialize the list